<h1>Products</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Title</th>
    <th>Quantity</th>
    <% if price_column_present %>
      <th>Price</th>
    <% end %>
  </tr>

  <% @products.each do |product| %>
    <tr>
        <td> <%= product.id %> </td>
        <td> <%= product.title %> </td>
        <td> <%= product.quantity %> </td>
        <% if price_column_present %>
          <td> <%= product.price == nil ? "empty" : product.price %> </td>
        <% end %>
    </tr>
  <% end %>

</table>

<h1> Add product </h1>
<%= form_with model: @product do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>
  
    <div>
      <%= form.label :quantity %><br>
      <%= form.number_field :quantity %>
    </div>

    <% if price_column_present %>
        <div>
            <%= form.label :price %><br>
            <%= form.number_field :price %>
        </div>
    <% end %>
  
    <div>
      <%= form.submit %>
    </div>
<% end %>

